<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center">
    <div th:replace="~{header :: header}"></div>
    <h3>Login Form</h3>
    <form method="post" th:action="@{/api/v1/auth/login}">
        <input type="text" name="username" placeholder="Enter Email" required><br/><br>
        <input type="password" name="password" placeholder="Enter Password" required><br/><br/>
        <button>Login</button>
    </form>
</div>
</body>
</html>